:root{
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
}

.main-container{
    border: 1px solid white;
    background-color: white;
    padding:15px;
    margin:0;
    
}

.header-text{
    color:black;
    text-align: center;
    
}

.header-logo img{
    height:50px;
    background-color: white;
    position: relative;
}

.nav-center ul{
    list-style-type: none;
    margin-bottom: 0;
    width: 100%;
}

.nav-center ul li{
    display: inline;
    padding:30px;
}

.nav-center ul li a{
    color: black;
    text-decoration: none;
}

.reserve-btn{
    float: right;
    position: relative;
    top:-50px;
    padding:20px;
    background-color: black;
    
    border-radius: 20px;
}

button a{
    color:white;
    text-decoration: none;
}

.welcome-container{
    margin-top: 0;
    text-align: center;
    padding: 100px;
}

.welcome-container h1{
    color:white;
    font-size: 6em;
    font-family: 'Satisfy', cursive;
    color: gold;
}

.banner-container img{
    height:700px;
    width:100%;
}

.container {
    width: 20vw;
    height:5vw;
    position: relative;
    left:500px;
  }
  .review {
    background: transparent;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
  }

  .review h2{
    font-size: 16px;
    padding: 20px;
    color: gold;
    margin-bottom: 10px;
  }

  .review #title{
    color: gold;
  }
  .review:hover {
    box-shadow: black;
  }

.img-container {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  #person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }

  .button-container button{
    background-color: transparent;
    border:none;
    color: gold;
    padding:10px;
  }


  .div-container{
    display: flex;
    justify-content: space-between;
  }
  .circle-feature{
    border: 1px solid;
    position: relative;
    bottom: -700px;
  }

  .circle-feature img{
    height: 100px;
    border-radius: 30px;
    width: 100px;
  }

  .circle-feature h5{
    color:white;
  }

.footer-section{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: grey;
    position: relative;
    bottom: -900px;
  }

  .footer-column-1 h4{
    position: relative;
    left: 60px;
    color:gold;
    font-size: 20px;
  }

  .footer-column-1 p{
    padding:20px;
    color:black;
  }

 .footer-column-2 h4{
    color: gold;
    font-size: 20px;
 }

 .footer-column-2 p{
    padding:20px;
    color:black;
  }

  .footer-column-3 h4{
    color: gold;
    font-size:20px;
  }

  .footer-column-3 p a{
    padding:20px;
    color:black;
    text-decoration: none;
  }

  